# Libraries NOT included in the base Mage image
dbt-postgres==1.8.2
feedparser
beautifulsoup4
python-dotenv
streamlit

# Database driver (Mage has psycopg2, but -binary is safer for some environments)
psycopg2-binary


# Dotenv
python-dotenv